*{
  
}
body {
    background: #EDE7F6;
    padding: 8px 0px 8px 0px;
}
h1{
  font-family: "Montserrat", serif;
  font-style: normal;
  color:#7E57C2;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}
img{
  width: 380px;
  height: 203px;
  margin-top: 66px;
}
button {
  width: 170px;
  height: 150px;
  border: 2px solid black;
  border-radius: 30px;
  border-color: black;
  background: #7E57C2;
  text-align: center;
  color: white;
  margin:8px 8px 8px 8px;
  box-shadow: 5px 5px  black;
  align-items:center;
  justify-content: center;
}
button:active{
  scale: 0.9;
}
button:hover{
  cursor:pointer;
}
button h2{
  font-size: 18px;
  color : white;
  font-family: "Montserrat", serif;
  font-style: normal;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: white;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  border-top: 0px solid black;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0px;

}
nav a{
  text-decoration: none ;
  color:#7E57C2;
  display: flex;
  align-items:center; 
}
nav a h2{
  font-size: 18px ;
  font-family: "Montserrat", serif;
  font-style: normal;
  text-align: center;
}
nav a img{
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-right: 8px;
  margin-left: 8px;
  
}